{% raw -%}
{{- /* server-cert.tpl */ -}}
{% endraw %}
{{ '{{' }} with secret "pki_int/issue/{{ ca_role_name }}" "common_name={{ ansible_fqdn }}" "ttl=8760h" {{ '}}' }}
{% raw -%}
{{ .Data.certificate }}
{{ .Data.issuing_ca }}{{ end }}
{% endraw %}
