# Vault Primary config
ui            = "true"
disable_mlock = "true"
cluster_addr  = "https://{{ ansible_facts.fqdn }}:8201"
api_addr      = "https://{{ ansible_facts.fqdn }}:8200"
log_level     = "{{ vault_log_level }}"
max_lease_ttl = "87600h"

listener "tcp"{
  address         = "0.0.0.0:8200"
  tls_key_file    = "/opt/lego/certificates/{{ ansible_facts.hostname }}.key"
  tls_cert_file   = "/opt/lego/certificates/{{ ansible_facts.hostname }}.crt"
  tls_min_version = "tls13"
  tls_disable_client_certs = "true"
}

storage "file" {
  path = "/opt/vault/data"
}

# telemetry {
#   statsite_address   = "{{ ansible_facts.fqdn }}:8125"
#   disable_hostname   = true
#   usage_gauge_period = "none"
# }
