# Anisble managed

[Unit]
Description=consul-template
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/consul-template
Restart=on-failure
ExecStart=/usr/bin/consul-template $OPTIONS -config='/etc/consul-template.d/pki-config.hcl'
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
